.form {
    width: 45%;
}
.main-btn {
    background-color: rgb(73, 157, 212);
    border-radius: 3px;
}
.main-btn:hover {
    -webkit-transition: color .2s;
    transition: background-color .8s;  
    background-color: rgb(73, 157, 212);
    color: rgb(34, 34, 34);
} 

.input-background {
    background-color: rgb(240, 148, 73);
}