.profileContainer {
    display: flex;
    
    justify-content: center;
}
.proTable {
   width: 40%;
   border: 6px solid black;
   margin: 0 auto;
   height: 65%; 
   background-color: rgb(224, 222, 87);
}
.proTable h2 {
    text-decoration: underline;
    padding: 10px;
}