@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

.App {
  text-align: center;
}


.center {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  background-color: rgb(150, 188, 214);
  height: 3%;
  margin: 20px;
  justify-content: space-between;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 30px;
  color: red;
}
#startingText {
  color: #000;
}

.login-btn {
  padding: 28px 13px 5px 0;
  margin: 2px 12px;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.navRight {
 display: flex;
 justify-content: flex-end;
}

.navCenter{
  display: flex;
  margin: 0 1em;
}

.navCenter h1 {
  font-size: 37px;
  color: rgb(22, 39, 43);
  font-family: 'Montserrat Subrayada', sans-serif;
  margin: .1em;
}
