@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Libre Franklin', 'Courier New', Courier, monospace;
  background: rgb(158, 158, 158);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
