@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Libre Franklin', 'Courier New', Courier, monospace;
  background: rgb(239, 248, 216);
  background: linear-gradient(to right, rgba(49, 112, 163, 0.8), rgba(49, 112, 163, 0.8)), url(imagebg.jpg);
  background-position: center;
  background-size: cover;
  height:100vh; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
